/* by Nestor */
.nav-logo{height: 51px;margin: 0;display: block;}
.nav-logo:hover{background-color: lightblue;display: block;}
.nav {max-width:925px;float: left;}
ul {
list-style-type: none;
margin: auto;
padding: 0;
overflow: hidden;
background-color: pink;
position: -20px;
top: 0;
width: 100%;
font-size: 15pt;
position: sticky;
z-index: 500;
}
li {
  float: left;
  position: sticky;
}
li a:hover:not(.active) {
    background-color: lightpink;
  }
li a {
  display: block;
  color: lightblue;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: lightpink;
}
.active {
  background-color: lightblue;
}
 h1 {
  position: relative;
  bottom: 50px;
  text-align: center;
  color: pink !important;
  font-size: 120px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
 .box {
   width: 375px;
   height: 325px;
   border: 30px solid #ADD8E6;
   border-radius: 100px;
   margin: auto;
 }
 body {
 background-image: url(https://i.pinimg.com/originals/b9/a1/e0/b9a1e087dce6ea5e68d0a70bb94a93e6.gif);
   background-position: center;
      /* background-attachment: fixed; */
    /*  margin: 0; */
      margin: auto;
 }
 p {
   text-align: center;
   font-family: Georgia;
   font-size: 100px;
   opacity: 0.5;
 }
 .loser {
   text-align: center;
   font-family: Georgia;
   font-size: 50px;
   opacity: 1;
   font-family: 'Cantarell', sans-serif;
   padding-right: 30px;
 }

 .large {
   font-family: 'Kosugi Maru', sans;
   font-size: 45px;
   font-style: italic;
   text-align: center !important;
 }
 .flashing {
   font-size: 85px;
   text-align: center;
   font-family: 'Kosugi Maru', cursive;
   opacity: 1;
}
.waitingForConnection {
  animation: blinker .5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }

.smallbox {
  border: 10px solid pink;
  border-radius: 77px;
  width: 3in;
  margin: auto;
}
#yes {
  margin: auto;
  display: block;
}

iframe {
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
/*
  #button1 {
		color: lightblue;
		background-color: pink;
		margin: auto;
		box-shadow: 5px 10px;
		display: block;
		font-size: 12;
		animation-timing-function: ease-in-out;
		animation-delay: .3s;
		padding: 4px 25px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		Position: fixed;
    align: center;
	}

  #button1: hover {
		color: pink;
		background-color: lightblue;
	}
*/
